@import "constants";

:host {
  position: relative;
  display: block;

  .left-icon {
    position: absolute;
    z-index: 1;
    top: $inputPlaceholderTop;
    left: 12px;
  }

  input {
    width: 100%;
    border-color: $inputBorderColor;
    border-radius: $fieldBorderRadius;
    cursor: text;

    &:focus {
      border-color: rgba(27, 85, 235, 0.48);

      & + .placeholder {
        transform: scale(0.9) translateY(-25px);
        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          background-color: $primaryBackgroundColor;
          width: 100%;
          height: 3px;
          top: 0;
          bottom: 0;
          right: 0;
          margin: auto;
        }
      }
    }

    &.has-left-icon {
      padding-left: 35px;

      & + .placeholder {
        left: 30px;
      }
    }

    &.has-right-icon {
      padding-right: 35px;
    }
  }

  .placeholder {
    position: absolute;
    top: $inputPlaceholderTop;
    left: 12px;
    color: #65656a;
    padding: 0 5px;
    transition: all 0.2s ease;

    &.active {
      transform: scale(0.9) translateY(-25px);
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        background-color: $primaryBackgroundColor;
        width: 100%;
        height: 3px;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
    }
  }

  .right-icon {
    position: absolute;
    top: $inputPlaceholderTop;
    right: 12px;
    cursor: pointer;
  }

  &.ng-touched.ng-invalid {
    input {
      border: 1px solid $dangerColor;
    }
  }
}
