<!-- <p>board-column-task-card works!</p> -->

<app-skeleton
  style="padding: 0 10px"
  [width]="'100%'"
  [height]="'105px'"
  [borderRadius]="'10px'"
  *ngIf="(status$ | async) === 'loading'"
></app-skeleton>

<div class="card" *ngIf="(status$ | async) !== 'loading'">
  <div class="head">
    <div class="actions">
      <ng-content select="[actions]"></ng-content>
      <button
        actions
        type="button"
        class="navigate"
        (click)="updateBoardTaskDialog.show()"
      >
        <app-svg-icon name="edit" size="13"></app-svg-icon>
      </button>
    </div>

    <div class="priority">
      <div
        class="color"
        [style.background-color]="
          dictionary.getPriorityColorField(task.priority, 'label')
        "
      ></div>
      <span>{{ dictionary.getPriorityField(task.priority, "label") }}</span>
    </div>

    <div class="status">
      <div
        class="color"
        [style.background-color]="
          dictionary.getStatusColorField(task.status, 'label')
        "
      ></div>
      <span>{{ dictionary.getStatusField(task.status, "label") }}</span>
    </div>
  </div>

  <div class="content">
    <h5 class="title">{{ task?.title || "" }}</h5>
    <span class="deadline">{{ task?.deadline || "" }}</span>
  </div>

  <div class="footer">
    <div class="executors">
      <div *ngFor="let id of task.executors" class="executor">
        {{ dictionary.getExecutorField(id, "label") }}
      </div>
    </div>
  </div>
</div>

<app-question-dialog
  #updateBoardTaskDialog
  [title]="'Update task' | translate"
  (submitted)="handleSave(form, updateBoardTaskDialog)"
  [submitLoading]="actionsLoading"
>
  <app-task-form #form [value]="task"></app-task-form>
</app-question-dialog>
