<!-- <p>board-column-task-card works!</p> -->

<div class="head">
  <div class="priority">
    <div class="color"></div>
    <span>important</span>
  </div>

  <div class="status">
    <div class="color"></div>
    <span>progress</span>
  </div>
</div>

<div class="content">
  <h5 class="title">title</h5>
</div>

<div class="footer">
  <div class="executors">
    <div class="executor">u</div>
    <div class="executor">u</div>
    <div class="executor">u</div>
    <div class="executor">u</div>
    <div class="executor">u</div>
    <div class="executor">u</div>
    <div class="executor">+4</div>
  </div>
</div>
