@import "constants";

:host {
  z-index: 500;

  @media only screen and (min-width: 992px) {
    &.collapsed {
      .panel {
        position: absolute;
        left: -100000px;
        transition: all $sideNavTransitionDelay ease;
      }
    }
  }
}

.panel-toggle-btn {
  display: none;
}

.panel {
  height: 100%;
  width: $sidePanelContentWidth;
  background: $primaryBackgroundColor;
  padding: 24px 16px;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 992px) {
  :host {
    display: block;
    padding: 10px;
    position: fixed;
    z-index: 500;
    height: calc(100% - $mobileBottomNavHeight);
    top: 0;
    width: 100%;
    margin: 0 auto;
    right: 0;
    left: 0;
    transform: translateY(-600px);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;

    &.isOpened {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 992px) and (min-width: 576px) {
  :host {
    height: 100%;
    width: calc(100% - $sideNavMenuWidth);
    left: $sideNavMenuWidth;
  }
}
