@import "constants";

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  gap: $sideNavMenuGap;
  width: $sideNavMenuWidth;
  transition: width $sideNavTransitionDelay;
  padding: 5px 0 0 0;

  .pointerEventsNone {
    pointer-events: none;
  }

  &.open {
    width: $sideNavMenuOpenWidth;

    & + .content {
      left: $sideNavMenuOpenWidth;
      width: calc(100% - $sideNavMenuOpenWidth);
    }

    .toggler app-svg-icon {
      transform: rotate(90deg);
    }

    nav a .title {
      display: inline-block;
    }
    nav div .title {
      font-weight: 600;
      display: inline-block;
    }

    a,
    .switcher {
      justify-content: flex-start !important;
    }
  }

  .toggler {
    width: 100%;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    app-svg-icon {
      display: inline-block;
      transform: rotate(-90deg);
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 5px;

    a,
    .switcher {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $sideNavMenuItemPadding;
      text-decoration: none;
      user-select: none;
      border-radius: 10px;
      margin: 0 8px;
      cursor: pointer;
      color: $iconColor;
      font-size: 14px;

      &:hover,
      &.active {
        background-color: $sideNavMenuItemHoverBgColor;
        color: $darkColor;
      }

      .image {
        width: 100%;
        max-width: $sideNavMenuWidth - $sideNavMenuItemPadding -
          $sideNavMenuItemIconMargin;
      }

      &.homepage {
        &:hover {
          background-color: transparent;
          cursor: initial;
        }
      }

      .title {
        display: none;
        margin-left: $sideNavMenuItemGap;
      }
    }

    .divider {
      border-bottom: 1px dashed $grayColor;
    }
  }
}

.icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  .toggler {
    margin-left: -5px;
    transition: transform 0.2s ease;
    transform: rotate(-90deg);
    &.open {
      transition: transform 0.2s ease;
      transform: rotate(90deg);
    }
  }

  @media only screen and (max-width: 992px) {
    .toggler {
      display: none;
    }
  }
}

.notifications-indicator {
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: $dangerColor;
  border-radius: 50%;
}

.content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: $sideNavMenuWidth;
  width: calc(100% - $sideNavMenuWidth);
  transition: all $sideNavTransitionDelay;
  overflow: auto;
  box-shadow: -2px 0 20px $sideNavMenuBgColor;
}

.switcher {
  position: relative;

  .title {
    cursor: pointer;
  }
}

.languages {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: $lightColor;
  border-radius: 4px;

  span {
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: $darkColor;

    &:not(:last-child) {
      border-bottom: 1px solid $secondaryColor;
    }

    &:hover {
      background-color: $secondaryColor;
    }
  }
}

@media only screen and (max-width: 992px) {
  .content {
    &.isSidePanelOpened {
      box-shadow: none;
      border-radius: 0px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .menu {
    display: none;
  }

  .mobile-menu {
    position: fixed;
    display: flex;
    align-items: center;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 0;
    z-index: 9999;
    background-color: #ececec;
    height: $mobileBottomNavHeight;
    overflow-x: auto;
    overflow-y: hidden;

    nav {
      display: flex;
      width: fit-content;
      justify-content: space-between;

      a,
      .switcher {
        text-decoration: none;
        font-size: 11px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 120px;
        color: #656b7b;

        &.active {
          color: #333333;
        }
      }
    }

    .btn-left,
    .btn-right {
      color: #959595;
      font-size: 50px;
      height: inherit;
      opacity: 1;
      background-color: #ececec;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 500;
      border-radius: 0px;
      position: sticky;

      button {
        padding: 10px;
        background-color: rgba($lightColor, 0.5);
      }

      &:hover {
        background-color: $sideNavMenuItemHoverBgColor;
      }

      .arrow-left {
        transform: rotate(90deg);
      }

      .arrow-right {
        transform: rotate(270deg);
      }
    }

    .btn-left {
      left: 0;
      padding: 0 0 0 5px;
    }

    .btn-right {
      right: 0;
      padding: 0 5px 0 0;
    }
  }

  .content {
    left: 0;
    width: 100%;
    margin-bottom: $mobileBottomNavHeight;
  }
}

@media only screen and (min-width: 576px) {
  .mobile-menu {
    display: none !important;
  }
}
