<div class="header">
  <span class="title" [textContent]="title"></span>
  <app-svg-icon
    (click)="handleOptionsClick($event)"
    class="options-icon"
    name="dots"
    size="16"
  ></app-svg-icon>
</div>
<div class="body" [class.body-collapsed]="isOpened">
  <ng-content></ng-content>
</div>
<app-svg-icon
  (click)="handleCollapseClick($event)"
  class="collapse-icon"
  [class.collapsed]="isOpened"
  name="arrow-down"
  size="16"
></app-svg-icon>

<dialog #dialog [class.active]="dialog.open">
  <div class="dialog-content">
    <span (click)="handleEditClick($event)">{{ "Edit" | translate }}</span>
    <span (click)="handleRemoveClick($event)">{{ "Delete" | translate }}</span>
  </div>
</dialog>
