@import "constants";

:host {
  position: relative;
  background-color: #f6f8f9;
  padding: 14px;
  display: block;
  border-radius: $cardAccordeonBorderRadius;
  min-width: 200px;
  cursor: pointer;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: $darkColor;
    }

    .options-icon {
      cursor: pointer;
    }
  }

  .collapse-icon {
    position: absolute;
    bottom: 14px;
    right: 14px;
    cursor: pointer;
    transition: all 0.2s ease;

    &.collapsed {
      transform: rotate(180deg);
    }
  }

  .body {
    width: 90%;
    max-height: 40px;
    overflow-y: hidden;
    transition: max-height 0.2s ease;

    &-collapsed {
      max-height: 500px;
    }
  }

  dialog {
    border: none;
    padding: 0;
    width: 0;
    height: 0;
    top: 0;
    opacity: 0;
    z-index: 999999;
    transition: all 0.2s ease;

    &.active {
      top: -90px;
      right: 0;
      opacity: 1;
    }

    .dialog-content {
      display: flex;
      flex-direction: column;
      min-width: 200px;
      top: 0;
      right: -100px;
      background-color: $lightColor;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 4px;

      span {
        cursor: pointer;
        padding: 12px;

        &:hover {
          background-color: $secondaryColor;
        }
      }
    }
  }
}

:host ::ng-deep {
  p,
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
