:host {
  background-color: black;
  width: 100dvw;
  height: 100dvh;
}
dialog {
  position: fixed;
  margin: 0;
  padding: 0;
  min-width: 50px;
  min-height: 50px;
  border: none;
  z-index: 100000000000;
}
