@import "constants";

$indent: 0 20px;

:host {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden auto;
  width: $sidePanelContentWidth;
  background-color: $lightColor;
  padding: $fieldsGroupContentPadding;

  .floating-bar-actions,
  .close-floating-bar {
    display: none;
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.filters > button {
  width: 100%;
  border-bottom: 1px solid $secondaryColor;

  & > h5 {
    margin: 0;
  }
}

h4 {
  text-align: center;
}

h5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $indent;
}

.content {
  height: 100%;
  padding: $indent;

  &.closed {
    height: 0;
  }
}
