:host {
  dialog {
    padding: 0;
    overflow: hidden;
    border: none;
    border-radius: 8px;
    min-width: 320px;
    min-height: 170px;

    &::backdrop {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(50, 44, 44, 0.5);
      -webkit-animation: none;
      backdrop-filter: blur(2.5px);
    }

    .header {
      padding: 12px;
      display: flex;
      min-height: 47px;

      .title {
        flex: 1 1 1px;

        h3 {
          margin: 0;
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
        }

        span {
          font-weight: 600;
          font-size: 14px;
          line-height: 14px;
          color: #999eae;
        }
      }

      button {
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        height: 24px;
        width: 24px;
        flex: 0 0 24px;
        color: #8592bc;
      }
    }

    .body {
      padding: 12px;
    }

    .footer {
    }
  }
}
