@import "constants";

:host {
  display: block;
  height: 100%;

  h5 {
    margin: 0;
  }

  app-svg-icon {
    transform: rotate(180deg);
    transition: transform $fieldsGroupTransitionDelay;

    &.closed {
      transform: rotate(0deg);
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $fieldsGroupButtonGap;
    width: 100%;
    border-bottom: 1px solid $secondaryColor;
  }

  .body {
    max-height: 100%;
    overflow: hidden;
    transition: all $fieldsGroupTransitionDelay;

    .content {
      padding: $fieldsGroupContentPadding;
    }

    &.closed {
      opacity: 0;
      transform: translate(0px, -10px);
      pointer-events: none;
    }
  }
}
