@import "constants";
$arrowSize: 8px;

:host {
  position: fixed;
  display: block;
  z-index: 1;
  text-align: left;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.200691);
  background-color: $darkColor;
  backdrop-filter: blur(30px);
  color: $lightColor;
  transition: all $fieldsGroupTransitionDelay ease;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;

  &.delay-none {
    transition: none;
  }

  &::before {
    content: "";
    position: absolute;
    border-width: $arrowSize;
    border-style: solid;
    border-color: transparent;
  }

  &.top {
    transform: translate(0px, -10px);
    &::before {
      bottom: -$arrowSize * 2;
      right: calc(50% - $arrowSize);
      border-top-color: $darkColor;
    }
  }

  &.right {
    transform: translate(10px, 0px);
    &::before {
      top: calc(50% - $arrowSize);
      right: 100%;
      border-right-color: $darkColor;
    }
  }

  &.bottom {
    transform: translate(0px, 10px);
    &::before {
      top: -$arrowSize * 2;
      right: calc(50% - $arrowSize);
      border-bottom-color: $darkColor;
    }
  }

  &.left {
    transform: translate(-10px, 0px);
    &::before {
      top: calc(50% - $arrowSize);
      right: -#{$arrowSize * 2};
      border-left-color: $darkColor;
    }
  }

  &.visible {
    transform: translate(0px);
    opacity: 1;
    pointer-events: initial;
  }
}
