:host {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.head {
  .title {
    margin: 5px 0;
  }
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.no-data {
  width: 100%;
  text-align: center;
  font-weight: 600;
}
